nav {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid var(--main-color);
  background-color: white;
  padding: 5px;
  position: fixed;
  top: 0;
}
.nav-wrap {
  height: 100%;
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo img {
  padding-top: 5px;
  width: 105px;
  height: 30px;
  cursor: pointer;
}

.nav-log i,
.logo-area i,
.savelogo i {
  color: black;
  cursor: pointer;
}

.savelogo i.hover {
  color: rgb(142, 142, 142);
}

.logo-area i.active {
  color: #ed4956;
}

.logo-area i.hover {
  color: rgb(142, 142, 142);
}

.nav-search .input-area {
  position: relative;
}
.nav-search .input-area input {
  border: 0;
  border-radius: 5px;
  width: 268px;
  height: 36px;
  padding-left: 12px;
  background-color: var(--main-color);
}
.search-in-input {
  position: absolute;
  top: 12px;
  left: 14px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.nav-search .input-area input:focus {
  outline: none;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo-group .logo {
  margin-right: 30px;
}
.logo-group .logo:last-child {
  margin-right: 0;
}

.logo-group .heart {
  position: relative;
}

main {
  width: 100%;
  height: 100%;
}

main .main-section {
  max-width: 935px;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
}

.left {
  float: left;
  max-width: 614px;
  width: 100%;
  margin-right: 28px;
}

/* 스토리 */
.main-story {
  border: 1px solid var(--main-color);
  overflow: hidden;
  position: relative;
  background-color: #fff;

}
.story {
  background-color: #fff;
  width: 100%;
  height: 120px;
}
.story ul {
  height: 100%;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.story ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.story ul li a {
  display: inline-block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid black;
  background: url(../img/arsnal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.story ul li span {
  display: inline-block;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  font-size: 12px;
}
.story button {
  position: absolute;
  top: calc(50% - 8px);
  right: 0;
}
.story button.prev {
  left: 0;
}

.story button > div {
  width: 45px;
  height: 45px;
  /* background-color: tomato; */
}

.story button .previmg {
  background-image: url(../img/bunddle2.png);
  background-position: -294px -226px;
  background-repeat: no-repeat;
}

.story button .nextimg {
  background-image: url(../img/bunddle2.png);
  background-position: -294px -273px;
  background-repeat: no-repeat;
}

/* article */

.main-article {
  background-color: #fff;
  border: 1px solid var(--main-color);
  width: 100%;
  margin-top: 30px;
}
.main-article .head {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color);
}

.head header {
  padding: 15px 0 15px 15px;
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.head header .article-user span {
  display: block;
  margin-left: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 14px;
}

.more-info {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.photo {
  /* width: 614px; */
  overflow-x: hidden;
  position: relative;
}

.photo .main-photo {
  width: 100%;
  position: relative;
}

.photo .main-photo ul {
  display: flex;
  flex-wrap: nowrap;
  width: 614px;
  height: 100%;
}

.photo .main-photo ul li {
  float: left;
  width: 614px;
  height: 812px;
}

.photo .main-photo ul li img {
  width: 614px;
  height: 100%;
}

.next-btn {
  background: 0 0;
  border: 0;
  justify-self: center;
  outline: 0;
  padding: 16px 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.next-btn.display {
  display: none;
}

.next-btn .nextimg {
  background-image: url(../img/bunddle.png);
  background-position: -162px -98px;
  height: 30px;
  width: 30px;
}

.prev-btn {
  background: 0 0;
  border: 0;
  justify-self: center;
  outline: 0;
  padding: 16px 8px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.prev-btn.display {
  display: none;
}
.prev-btn .previmg {
  background-image: url(../img/bunddle.png);
  background-position: -130px -98px;
  height: 30px;
  width: 30px;
}

.article-func {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.article-func .logo-area {
  display: flex;
}
.logo-area div {
  margin-right: 15px;
}

.logo-area div:last-child {
  margin-right: 0;
}

.photo-circle {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 10px);
}

.photo-circle .circle {
  display: inline-block;
  margin-right: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.photo-circle .circle:last-child {
  margin-right: 0;
}

.photo-circle .circle.active {
  background-color: #0095f6;
}

.comment {
  padding: 0 20px;
}

.comment .like span {
  display: block;
  margin-bottom: 10px;
}

.comment .like span,
.comment .comment-main-text > a > span:first-child {
  font-size: 15px;
  font-weight: bold;
}
.comment .comment-main-text > a > span:first-child:hover {
  text-decoration: underline;
}

.comment .comment-main-text {
  margin-bottom: 10px;
}
.before-day {
  padding: 0 0 0 20px;
  margin-bottom: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.mycomment {
  margin-bottom: 10px;
  position: relative;
}
.mycomment .comment-logo {
  position: absolute;
  display: inline-block;
  right: 0;
  height: 100%;
}

.mycomment .comment-logo i.active {
  color: #ed4956;
}
.mycomment .user-id {
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  font-weight: bold;
  color: black;
}

.mycomment .comment-text {
  font-size: 12px;
  color: black;
}

.reple-area {
  border-top: 1px solid var(--main-color);
  padding: 20px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.reple-area .imoji {
  margin-right: 10px;
}

.reple-area .comment-input {
  flex-grow: 1;
  font-size: inherit;
  height: 18px;
  max-height: 80px;
  outline: 0;
  padding: 0;
  border: 0;
  resize: none;
}

.reple-area .push-btn {
  border: 0;
  color: #0095f6;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline-block;
  padding: 0;
  position: relative;
  font-weight: bold;
}

.reple-area .push-btn[:disabled] {
  pointer-events: none;
}

.right-division {
  position: absolute;
  left: 634px;
  width: 315px;
  background-color: inherit;
}

.right {
  width: 300px;
  height: 100vh;
  position: fixed;
  float: right;
  margin-bottom: 30px;
  padding: 0;
  top: 120px;
  left: 1126px;
}

.myprofile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-logo {
  margin-right: 15px;
}
.article-user {
  flex: 1 1 auto;
}

.article-user span {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  font-size: 14px;
}

.article-user p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  margin-top: 5px;
}
.right .click a {
  color: #0095f6;
}
.right .click {
  border: 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline-block;
  padding: 0;
  position: relative;
  font-weight: bold;
  font-size: 12px;
}

.osusume .foryou {
  display: flex;
  justify-content: space-between;
}

.osusume .foryou > span {
  color: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 15px;
}

.osusume .foryou .all {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.osusume ul {
  margin: 15px 0;
}

.osusume ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.push-heart-area {
  position: absolute;
  top: 35px;
  left: -430px;
  display: none;
}

.push-heart-area.on {
  display: block;
}

.main-area {
  background: rgba(var(--d87, 255, 255, 255), 1);
  border-radius: 6px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.right-top-point {
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid #fff;
  border: 1px solid rgba(var(--f23, 255, 255, 255), 1);
  bottom: -6px;
  box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  height: 14px;
  position: absolute;
  top: -8px;
  right: 50px;
  transform: rotate(45deg);
  width: 14px;
}

.inside-main {
  max-height: 362px;
  min-height: 100px;
  overflow-y: auto;
  width: 500px;
}

.inside-main .osusume-photo img {
  width: 44px;
  height: 44px;
}
.inside-main .out-bar {
  height: 362px;
  padding-left: 10px;
  overflow: hidden auto;
}

.this-month {
  padding-left: 5px;
  margin: 7px 0 7px;
}
.this-month .this-month-text {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}

.inside-main-article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 40px;
}
.first-article {
  display: flex;
  border-bottom: 1px solid var(--main-color);
  padding: 0px 5px 5px 0;
}

.osusume-photo {
  margin-right: 15px;
}
.osusume-user {
  flex: 1 1 auto;
}

.osusume .follow {
  border: 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline-block;
  padding: 0;
  position: relative;
  font-weight: bold;
  font-size: 12px;
}
.osusume .follow a {
  color: #0095f6;
}
.osusume-user span {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  font-size: 14px;
}

.osusume-user p {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  margin-top: 5px;
}
