@charset "UTF-8";
.more-content > span {
  display: none;
}

.more-content a {
  margin-left: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
/* 
.more-content a span {
    display: inline-block;
    line-height: 20px;
    height: 20px;
    border: 2px solid pink;
    border-radius: 10px;
    padding: 0 10px;
    color: skyblue;
} */
