* {
  margin: 0;
  padding: 0;
}
a {
  color: #222;
  text-decoration: none;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #023586;
  z-index: 99;
  height: 90px;
}
#header .container {
  height: 100%;
  max-width: 1420px;
}
#header .row {
  height: 100%;
  align-items: center;
}

#header .logo-col {
  display: flex;
  justify-content: center;
}

#header .mainlogo {
  background: url(../img/svg/logo.svg) 50% 50% no-repeat;
  background-size: contain;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  display: block;
  text-indent: -999em;
  overflow: hidden;
  width: 250px;
  height: 18px;
}

#header .nav-link {
  color: #fff;
}

#header .search .nav {
  flex-wrap: nowrap;
}

main .mainbanner {
  width: 100%;
  padding: 90px 0;
}
main .mainbanner .container {
  width: 1905px;
  margin: 0;
  padding: 0;
}

.mainbanner .container .row {
  flex-wrap: nowrap;
  margin: 0;
  width: 100vw;
}

main .mainbanner .col-12 {
  /* width: 635px; */
  padding: 0;
}

main .mainbanner .col-12 a {
  display: block;
  width: 100%;
  height: 100%;
}

main .mainbanner .col-12 a .gradient-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  content: "";
  transition: height 0.3s ease-out;
}

main .mainbanner .col-12 a .gradient-container.hide {
  display: none;
}

main .mainbanner img {
  width: 100%;
}

.content .container {
  padding: 80px 0;
  max-width: 1420px;
  margin: 0 auto;
}

.content .container .main-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.content .container .main-title h3 {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
}

.content .container .main-title a {
  display: block;
  line-height: 24px;
}

.content .container .main-title span.more {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #111;
}

.content .container .row .card .img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5)
  );
  transition: height 0.3s ease-out;
}
.content .container.story .row .card .img::after, .content .container.promotion .row .card .img::after {
  opacity: 0;
  transition: opacity 0.1s;
}

.content .container.story .row .card .col-6.md-4:hover .img::after, .content .container.promotion .row .card .img:hover::after {
  opacity: 1;
  height: 100%;
  transition: opacity 0.1s;
}

.content .container .row .card:hover .img::after {
  height: 100%;
}

.content .container .row .card .magazine-img-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 24px 30px;
  color: #fff;
}

.content .container .row .card .magazine-img-text .text-title {
  display: block;
  color: #fff;
}

.content .container .row .card .magazine-img-text .text-title h3 {
  font-weight: 700;
}

.content .container .row .card .magazine-img-text .text-title .text-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.content .container.story .col-6:nth-child(3),
.content .container.story .col-6:nth-child(4) {
  margin: 30px 0 0;
}

.content .container.story .col-6 .card {
  border: 0;
}

.content .container.story .col-6 .card .card-body {
  padding: 0 1.25rem;
}

.content .container.story .col-6 .card .card-body .story-text-video {
  margin-bottom: 16px;
  font-size: 14px;
}

.content .container.story .col-6 .card .card-body .story-text-video p {
  color: #023586;
}

.content .container.story .col-6 .card .card-body .story-text-title {
  display: block;
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 15px;
}

.content .container.story .col-6 .card .card-body .story-text-sub {
  font-size: 13px;
  display: block;
  line-height: 1.575;
  color: #4a4a4a;
  margin-bottom: 16px;
}

.content .container.story .col-6 .card .card-body > p {
  font-size: 10px;
}

.content .container.promotion {
  overflow: hidden;
  max-width: 1420px;
}

.content .container.promotion .row-wrap  {
  position: relative;
}

.content .container.promotion .row {
  flex-wrap: nowrap;
}

.content .row .card {
  border: 0;
}

.content .container.promotion .row .card .img {
  position: relative;
}

.content .container.promotion .row .card .desc .promotion-title {
  font-size: 18px;
  line-height: 1.44;
  margin: 10px 0 10px;
}

.content .container.promotion .row .card .desc .readmore {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: .5px;
  color: #888;
  display: inline-block;
}

.content .container.promotion .swiper-button-next, .content .container.promotion .swiper-button-prev {
  top: 40%;
  color: #ccc;
}

.content .container.promotion .swiper-button-next {
  right: 30px;
}

.content .insta {
  width: 100vw;
}

.content .insta .container-fluid .main-title { 
  text-align: center;
  margin-bottom: 40px;
}

.content .insta .container-fluid .main-title h3 {
  font-weight: 700;
}

.content .insta .container-fluid .row .col-2 {
  padding: 0;
}

.content .insta .container-fluid .row .col-2 .card .insta-text{
  position: absolute;
  z-index: 2;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s, visibility 0.3s;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  background: rgba(0,0,0,0.8);
  align-items: center;
}

.content .insta .container-fluid .row .col-2 .card:hover .insta-text {
  opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding-top: 0;
}

.content .insta .container-fluid .row .col-2 .card .insta-text .inner-text {
  padding: 0 25px;
}
.content .insta .container-fluid .row .col-2 .insta-text .heart-number {
  display: flex;
  justify-content: space-around;
  margin: 50px 0 20px;
}

.content .insta .container-fluid .row .col-2 .insta-text svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}