@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --content-height: 692px;
  --promo-height: 580px;
  --gutter-height: 12px;
  --promo-nav: 12px;
}
body {
  font-family: "Open Sans", sans-serif;
}
#header {
  width: 100%;
  background-color: #333333;
  height: 48px;
  max-height: 44px;
  position: fixed;
  z-index: 500;
}

#header .nav {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

#header .nav .small-nav {
  display: none;
  height: 48px;
}

#header .nav ul {
  display: flex;
  justify-content: space-between;
}

#header .nav ul .apple-nav-item {
  display: block;
  height: 44px;
  line-height: 3.6667px;
}

#header .nav ul .apple-nav-item a {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #f5f5f7;
  padding: 0 8px;
  box-sizing: border-box;
  width: 30px;
  height: 44px;
  line-height: 3.6667;
  opacity: 0.8;
  transition: 0.2s;
}

#header .nav ul .apple-nav-item a:focus {
  opacity: 1;
  transition: none;
}

#header .nav ul .apple-nav-item a:hover {
  opacity: 1;
}
/* 작은화면 nav */
#header .nav .small-nav ul .small-nav-item {
  height: 44px;
}
#header .nav .small-nav ul .small-nav-item a {
  display: inline-block;
  width: 44px;
  height: 44px;
}
input#push-bar-label {
  display: none;
}

#header .nav .small-nav ul .small-nav-item label{
  display: block;
  width: 48px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: 0px;
  /* background: tomato */
}

#header .nav .small-nav ul .small-nav-item label span.push-bar-line {
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 7px;
  left: 5px;
  /* background: black; */
  transition: transform .1180s ease-in-out;
}
input[type=checkbox]#push-bar-label:checked ~ #header .nav .small-nav ul li.small-nav-item label span.push-bar-line.upper {
  transform: rotate(45deg);
  transition: transform 1s
}

input[type=checkbox]#push-bar-label:checked ~ #header .nav .small-nav ul li.small-nav-item label span.push-bar-line.bottom {
  transform: rotate(-45deg);
  transition: transform 1s
}
input[type=checkbox]#push-bar-label:checked ~ #header .nav .small-nav ul li.small-nav-item label span.push-bar-line .push-bar-line-content.push-bar-line-upper {
  top: 14px;
  left: 7px;
  z-index: 200;
  transition: transform 1596s
}
#header .nav .small-nav ul .small-nav-item  label span.push-bar-line .push-bar-line-content.push-bar-line-upper {
  top: 10px;
  left: 7px;
  transition: transform .1596s

}

#header .nav .small-nav label span.push-bar-line .push-bar-line-content.push-bar-line-bottom{
  bottom: 10px;
  left: 7px;

}

input[type=checkbox]#push-bar-label:checked ~ #header .nav .small-nav ul li.small-nav-item label span.push-bar-line .push-bar-line-content.push-bar-line-bottom {
  bottom: 14px;
  left: 7px;
}




#header .nav .small-nav ul .small-nav-item label span.push-bar-line .push-bar-line-content {
  display: block;
  width: 17px;
  height: 1px;
  background: #fff;
  position: absolute;
}

#header .nav .small-nav ul .small-nav-item.small-nav-bag {
  margin-right: 10px;
}


#header .nav .small-nav ul .small-nav-item.small-nav-logo a {
  background: url(../img/svg/applelogo_large.svg) no-repeat;
  background-size: 14px 44px;
  background-position: center center;
  width: 14px;
  opacity: .8;
}

#header .nav .small-nav ul .small-nav-item.small-nav-bag a {
  background: url(../img/svg/baglogo.svg) no-repeat;
  background-size: 13px 44px;
  background-position: center center;
  width: 13px;
}

#header .nav .search-area {
  display: none;
}

/* 큰화면 nav */
#header .nav ul.big-width-nav .apple-nav-item.nav-logo a {
  background: url(../img/svg/applelogo_large.svg) no-repeat;
  background-size: 14px 44px;
  background-position: center center;
  width: 14px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-store a {
  background: url(../img/svg/store.svg) no-repeat;
  background-size: 30px 44px;
  background-position: center center;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-mac a {
  background: url(../img/svg/mac.svg);
  background-size: 23px 44px;
  width: 23px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-ipad a {
  background: url(../img/svg/ipad.svg);
  background-size: 24px 44px;
  width: 24px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-iphone a {
  background: url(../img/svg/iphone.svg);
  background-size: 38px 44px;
  width: 38px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-watch a {
  background: url(../img/svg/watch.svg);
  background-size: 35px 44px;
  width: 35px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-airpods a {
  background: url(../img/svg/airpods.svg);
  background-size: 43px 44px;
  width: 43px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-tvhome a {
  background: url(../img/svg/tvhome.svg);
  background-size: 42px 44px;
  width: 42px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-onlyapple a {
  background: url(../img/svg/onlyapple.svg);
  background-size: 80px 44px;
  width: 80px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-accessories a {
  background: url(../img/svg/accessories.svg);
  background-size: 40px 44px;
  width: 40px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-support a {
  background: url(../img/svg/support.svg);
  background-size: 39px 44px;
  width: 39px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-search a {
  background: url(../img/svg/searchlogo.svg) no-repeat;
  background-size: 15px 88px;
  width: 15px;
  background-position: 0px 0px;
}

#header .nav ul.big-width-nav .apple-nav-item.nav-bag a {
  background: url(../img/svg/baglogo.svg) no-repeat;
  background-size: 13px 44px;
  background-position: center center;
  width: 13px;
}

/* main area */
main {
  max-width: 2560px;
  margin: 0 auto;
  padding-top: 44px;
  overflow-x: hidden;
}

main section:nth-child(1) {
  background-color: #f5f5f7;
  position: relative;
  z-index: 9;
}

main section .text-section {
  text-align: center;
}

main section .text-section span {
  display: inline-block;
  /* text-align: center; */
  padding: 12px 0;
  font-size: 14px;
}

main section .text-section span a {
  color: #06c;
}

main section .text-section span a:hover {
  text-decoration: underline;
}

main section.hero .hero-wrap {
  width: 100%;
  height: calc(var(--content-height) + 12px);
  background-color: #fff;
  position: relative;
}

main section.hero .hero-wrap:first-child {
  z-index: 6;
}
main section.hero .hero-wrap:nth-child(2) {
  z-index: 5;
}

main section.hero .hero-wrap .hero-wrap-content {
  height: var(--content-height);
  background-color: #fbfbfd;
  padding-top: 56px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

/* main section.hero:nth-child(2) .hero-wrap .hero-wrap-content{
    background-color: #fff;
} */

main section.hero .hero-wrap .hero-content {
  width: 100%;
  height: 100%;
}

main section.hero .hero-wrap .hero-content > a.clickarea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

main section.hero .hero-wrap .herotxt {
  position: relative;
  z-index: 4;
  text-align: center;
  pointer-events: none;
}

main section.hero .hero-wrap .herotxt.ipad-air-txt {
  right: 330px;
  padding-top: 235px;
}

main section.hero .hero-wrap .herotxt .herotitle {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -2px;
}

main section.hero .hero-wrap .herotxt > span {
  font-size: 21px;
  line-height: 1.19048;
  font-weight: 600;
}

main section.hero .hero-wrap .herotxt.iphonesetxt .herotitle {
  background: url(../img/logo/iphone-se/logo_hero_iphonese__dtb7zrygggeq_largetall.png)
    no-repeat;
  height: 55px;
  background-size: 221px 55px;
  background-position: center center;
}

main section.hero .hero-wrap .herotxt.ipad-air-txt .herotitle {
  background: url(../img/logo/ipad-air/hero_logo_ipadair__em8hublxa0om_largetall.png)
    no-repeat;
  height: 55px;
  background-size: 221px 55px;
  background-position: center center;
}

main section.hero .hero-wrap .herotxt .herosubtitle {
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0;
  letter-spacing: -3px;
}

main section.hero .hero-wrap .herotxt.ipad-air-txt .herosubtitle {
  line-height: 1.10722;
  letter-spacing: 0.004em;
  color: #f5f5f7;
}
main section.hero .hero-wrap .herotxt .btn-group{
    position: relative;
    z-index: 4;
}

main section.hero .hero-wrap .herotxt .btn-group .btncommon {
  font-size: 21px;
  font-weight: 400;
  color: #06c;
  position: relative;
  z-index: 4;
  pointer-events: all;
}
main section.hero .hero-wrap .herotxt .btn-group a.btncommon:hover {
  text-decoration: underline;
}

main section.hero .hero-wrap .herotxt.ipad-air-txt .btn-group .btncommon {
  color: #2997ff;
}

main section.hero .hero-wrap .herotxt .btn-group .btncommon i {
  margin-left: 5px;
}

main section.hero .hero-wrap .herotxt .btn-group .btncommon:last-child {
  margin-left: 35px;
}

main section.hero .hero-wrap-content .hero-content .heroimg {
  z-index: 1;
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  left: calc(50% + 0px);
  right: auto;
  bottom: 0px;
  top: auto;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  overflow: visible;
}

/* main section.hero .hero-wrap-content .heroimg.ipad-air {
  position: absolute;
  top: 0;
  left: 500px;
  height: 100%;
  width: 100%;
} */
main section.hero .hero-wrap-content .hero-content .unit-image-iphone13 {
  background: url(../img/hero/iphone13/hero_iphone13pro_avail__iy77cld0zwii_largetall.jpg)
    no-repeat;
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
}

main
  section.hero
  .hero-wrap-content
  .hero-content
  .unit-image-iphonese {
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  background-image: url(../img/hero/iphone-se/hero_iphonese_avail__eg8srhcnpo66_largetall.jpg);
  z-index: 0;
}

main section.hero .hero-wrap-content .hero-content .unit-image-ipad-air {
  background-image: url(../img/hero/ipad-air/hero_ipadair__flhdv47anjqu_largetall.jpg);
  width: 3008px;
  height: 736px;
  background-size: 3008px 736px;
  background-repeat: no-repeat;
  z-index: 1;
}

/* promo area */
main section.promo {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

main section.promo .promo-wrap {
    height: calc(var(--promo-height) + var(--promo-nav));
    background-color: #fff;
    width: calc(50% - 6px);
    position: relative;
    padding-top: 0px;
    box-sizing: border-box;
    overflow: visible;
}

main section.promo .promo-wrap:nth-child(odd){
    margin-right: 6px;
}

main section.promo .promo-wrap .promo-wrap-content {
    height: var(--promo-height);
    padding-top: 44px;
    position: relative;
    box-sizing: border-box;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content.promo-wwdc-announce, main section.promo .promo-wrap .promo-wrap-content .promo-content.promo-tv-plus-multishow {
  justify-content: flex-end;
  align-items: center;
}


main section.promo .promo-wrap .promo-wrap-content .promo-content a.clickarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    margin-top: 53px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 5;
    pointer-events: none;
}



main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.wwdc-announce-txt .herotitle {
    background: url(../img/logo/wwdc-announce/wwdc22_logo__f39kr8derwya_large.png) no-repeat;
    height: 38px;
    background-size: 203px 38px;
    background-repeat: no-repeat;
    background-position: center;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.watch-series-7-txt .herotitle{
  background: url(../img/logo/watch-series-7/promo_logo_watch_lte__emrof7zzkriq_large.png) no-repeat;
  width: 146px;
  height: 58px;
  background-size: 146px 58px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.tv-plus-multishow-txt .herotitle {
  background: url(../img/logo/tv-plus-multishow/logo__dcojfwkzna2q_large2.png) no-repeat;
  width: 84px;
  height: 33px;
  background-size: 84px 33px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.wwdc-announce-txt .herosubtitle {
  font-weight: 400;
  letter-spacing: .016em;
  line-height: 1.2381;
  color: #c6e1e6;
  margin-top: 15px;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt{
  margin-top: 10px;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt .herosubtitle{
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: .016em;
  margin-top: 10px;
}


main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.tv-plus-multishow-txt .herosubtitle{
  color: #fff;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: teal;
    overflow: hidden;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-wwdc-announce {
    background: url(../img/promo/wwdc-announce/promo_wwdc_announce__dr6w8rxice4i_large.jpg) no-repeat;
    background-size: cover;
    width: 1262px;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    z-index: 1
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-watch-series-7{
  background: url(../img/promo/whatch-series-7/promo_watch_lte__djeaso7ukrsm_large.jpg) no-repeat;
  background-size: cover;
    width: 1262px;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    z-index: 1
}
main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-iphone13{
  background: url(../img/promo/iphne13/promo_iphone13_avail__frc36u35m0ii_large.jpg) no-repeat;
  background-size: cover;
    width: 1262px;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    z-index: 1
}
main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-studio-display{
  background: url(../img/promo/studio-display/promo_studiodisplay__b449sh436cdy_large.jpg) no-repeat;
  background-size: cover;
    width: 1262px;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    z-index: 1
}
main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-mac-studio{
  background: url(../img/promo/mac-studio/promo_macstudio__gl7zppziivma_large.jpg) no-repeat;
  background-size: cover;
    width: 1262px;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    z-index: 1
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg.tv-plus-multishow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-tv-plus-multishow{
  background: url(../img/promo/tv-plus-multishow/tile_freeshows__e35b5brgkmi6_xlarge.jpg) no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100%;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt .btn-group {
  margin: -10px 0 30px;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt .btn-group .btncommon {
  color: #2997ff;
  font-size: 17px;
  font-weight: 400;
  pointer-events: all;
}

main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt .btn-group .btncommon:hover {
  text-decoration: underline;
}

main section.promo .promo-wrap:not(:nth-child(1), :last-child) .promo-wrap-content .promo-content .promotxt .btn-group .btncommon:last-child {
  margin-left: 35px;

}

footer#footer {
  background-color: #f5f5f5;
  color: #6e6e73;
  font-size: 12px;
  height: auto;
  min-height: 780px;
}

footer#footer .footer-wrap {
  max-width: 980px;
  margin: 0 auto
}

footer#footer .footer-wrap .information {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 11px;
}

footer#footer .footer-wrap .information li {
  padding-bottom: 0.8em;
  letter-spacing: 0em;
  line-height: 1.33337
}

footer#footer .footer-wrap .footer-nav {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 20px;
}

footer#footer .footer-wrap .footer-nav .column {
  flex-basis: 25%;
}

footer#footer .footer-wrap .footer-nav .column input {
  display: none;
}

footer#footer .footer-wrap .footer-nav .column-section ~ .column-section {
  padding-top: 24px;
}

footer#footer .footer-wrap .footer-nav .column-section label {
  display: block;
  margin-right: 20px;
  margin-bottom: 0.8em;
}

footer#footer .footer-wrap .footer-nav .column-section-list .column-section-item {
  display: block;
  margin-bottom: 0.8em;
}

footer#footer .footer-wrap .footer-nav .column-section-list .column-section-item:hover {
  text-decoration: underline;
}

footer#footer .footer-wrap .copyright {
  padding: 34px 0 21px;
}

footer#footer .footer-wrap .copyright .footer-shop {
  margin-bottom: 7px;
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d2;
}

footer#footer .footer-wrap .copyright .footer-shop a {
  color: #06c;
  font-weight: bold;
}

footer#footer .footer-wrap .copyright .footer-shop a:hover {
  text-decoration: underline;
}

footer#footer .footer-wrap .copyright .footer-legal {
  display: flex;
  margin-bottom: 7px;
}
footer#footer .footer-wrap .copyright .footer-legal .footer-legal-copyright {
  margin-right: 20px;
}
footer#footer .footer-wrap .copyright .footer-legal .footer-legal-link a{
  display: inline-block;
  margin-right: 5px;
  position: relative;
}

footer#footer .footer-wrap .copyright .footer-legal .footer-legal-link a::after{
  content: '';
  height: 18px;
  width: 1px;
  background-color: #d2d2d7;
  position: absolute;
  right: -5px;
}

footer#footer .footer-wrap .copyright .footer-legal .footer-legal-link a:last-child:after {
  display: none;
}

@media screen and (max-width: 1069px) {
  :root {
    --promo-height: 440px;
  }
  main section.hero .hero-wrap-content .hero-content .unit-image-iphone13 {
    background: url(../img/hero/iphone13/hero_iphone13pro_avail__iy77cld0zwii_mediumtall.jpg) no-repeat;
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
  }

  main section.hero .hero-wrap-content .hero-content .unit-image-iphonese {
    background: url(../img/hero/iphone-se/hero_iphonese_avail__eg8srhcnpo66_mediumtall.jpg) no-repeat;
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
  }

  main section.hero .hero-wrap .herotxt.iphonesetxt .herotitle {
    background: url(../img/logo/iphone-se/logo_hero_iphonese__dtb7zrygggeq_mediumtall.png) no-repeat;
    width: 191px;
    height: 48px;
    background-size: 191px 48px;
  }

  main section.hero .hero-wrap .herotxt.ipad-air-txt .herotitle {
    background: url(../img/logo/ipad-air/hero_logo_ipadair__em8hublxa0om_mediumtall.png) no-repeat;
    width: 159px;
    height: 43px;
    background-size: 159px 43px;
  }

  main section.hero .hero-wrap .herotxt.ipad-air-txt {
    right: unset;
    padding-top: 63px;
  }

  main section.hero .hero-wrap-content .hero-content .unit-image-ipad-air {
    background: url(../img/hero/ipad-air/hero_ipadair__flhdv47anjqu_mediumtall.jpg) no-repeat;
    width: 1068px;
    height: 694px;
    background-size: 1068px 694px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image{
    background-size: cover;
    width: 516px;
    width: 100%;
    height: 100%;
    z-index: 1
  }


  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-wwdc-announce {
    background: url(../img/promo/wwdc-announce/promo_wwdc_announce__dr6w8rxice4i_medium.jpg) no-repeat;
    width: 516px;
    height: 490px;
    width: 100%;
    background-position: center center;
    background-size: 516px 490px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.wwdc-announce-txt .herotitle {
    background: url(../img/logo/wwdc-announce/wwdc22_logo__f39kr8derwya_medium.png) no-repeat;
    height: 30px;
    background-size: 164px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-watch-series-7 {
    background: url(../img/promo/whatch-series-7/promo_watch_lte__djeaso7ukrsm_medium.jpg) no-repeat;
    background-position: center bottom;
    background-size: 516px 490px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt.promotxt.watch-series-7-txt .herotitle {
    background: url(../img/logo/watch-series-7/promo_logo_watch_lte__emrof7zzkriq_medium.png) no-repeat;
    height: 45px;
    background-size: 118px 45px;
    background-repeat: no-repeat;
    background-position: center;
}


  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-iphone13 {
    background: url(../img/promo/iphne13/promo_iphone13_avail__frc36u35m0ii_medium.jpg) no-repeat;
    background-position: center bottom;
    background-size: 516px 490px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-studio-display {
    background: url(../img/promo/studio-display/promo_studiodisplay__b449sh436cdy_medium.jpg) no-repeat;
    background-position: center bottom;
    background-size: 516px 490px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-mac-studio {
    background: url(../img/promo/mac-studio/promo_macstudio__gl7zppziivma_medium.jpg) no-repeat;
    background-position: center bottom;
    background-size: 516px 490px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-tv-plus-multishow {
    background: url(../img/promo/tv-plus-multishow/tile_freeshows__e35b5brgkmi6_medium.jpg) no-repeat;
    top: 44px;
    background-size: cover;
    background-position: top center;
    width: calc(100% + 2px);
    height: 100%;
  }

  main section.hero .hero-wrap .herotxt .herotitle{
    font-size: 48px;
  }
  main section.hero .hero-wrap .herotxt .herosubtitle{
    font-size: 24px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt .herosubtitle {
    font-size: 16px;
  }

  main section.hero .hero-wrap .herotxt .btn-group .btncommon {
    font-size: 19px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt .btn-group .btncommon{
    font-size: 14px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt{
    margin-top: -30px;
  }

  header nav {
    min-width: 320px
  }
}

@media screen and (max-width: 833px) {
  #header .nav{
    width: 100%;
    padding: 0;
    height: 100%;
    background-color: black;
  }
  input[type=checkbox]#push-bar-label:checked ~ #header .nav {
    height: 100vh;
    transition: 1s;
    overflow-y: hidden;
  }

  #header .nav .small-nav {
    display: block;
    background-color: black;
  }

  /*검색창*/
#header .nav .search-area {
    visibility: hidden;
    position: absolute;
    z-index: 4;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    height: 3.11765em;
    background-color: black;
    border-bottom: 1px solid #424245;
  }
  
  input[type=checkbox]#push-bar-label:checked ~ #header .nav .search-area {
    display: block;
  }
  
  #header .nav .search-area .search-inner {
    margin: 0;
    padding: 0;
    height: 2.11765em;
  }
  
  #header .nav .search-area .search-inner .inner-area-point {
    display: block;
    height: 2.11765em;
    max-width: 584px;
    margin: 0 auto;
    padding: 0;
    outline-offset: 0;
    opacity: 1;
    background-color: #1D1D1F;
    border-radius: 12px;
  }
  input[type=checkbox]#push-bar-label:checked ~ #header .nav .search-area {
    visibility: visible;
    transition: 1s;
  }

#header .nav .search-area .search-inner .inner-area-point .inner-area-div {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  max-width: 584px;
  margin: 0 auto;
  height: 36px;
}

#header .nav .search-area .search-inner .inner-area-point .inner-area-div .inner-area-left {
  position: relative;
  z-index: 3;
  flex: 1;
  line-height: 2.11765em;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
  color: #6e6e73;
  padding-left: 30px;
}

#header .nav .search-area .search-inner .inner-area-point .inner-area-div .inner-area-left .inner-area-search-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 8px;
  background-size: 14px 74px;
  background-image: url(../img/svg/searchlogo.svg);
  background-repeat: no-repeat;
}

#header .nav .search-area .search-inner .inner-area-point .inner-area-div .inner-area-right {
  display: block;
  right: auto;
  position: relative;
  opacity: 1;
  width: auto;
  height: 36px;
  padding: 0 8px;
  margin-left: 10px;
}

/* ul */

  #header .nav ul.big-width-nav {
    visibility: hidden;
    padding: 45px 40px 8px;
  }

  input[type=checkbox]#push-bar-label:checked ~ #header .nav ul.big-width-nav {
    background-color: black;
    top: 55px;
    visibility: visible;
    flex-direction: column;
    justify-content: initial;
    max-width: 664px;
    margin: 0 auto;
    padding: 50px 40px 8px;
    box-sizing: border-box;
    height: 100vh;
    transition: 1s;
  }

  input[type=checkbox]#push-bar-label:checked ~ #header .nav ul.big-width-nav .apple-nav-item.nav-logo,
  input[type=checkbox]#push-bar-label:checked ~ #header .nav ul.big-width-nav .apple-nav-item.nav-search,
  input[type=checkbox]#push-bar-label:checked ~ #header .nav ul.big-width-nav .apple-nav-item.nav-bag {
    display: none;
  }

  input[type=checkbox]#push-bar-label:checked ~ #header .nav .small-nav ul li.small-nav-bag {
    visibility: hidden;
  }
  #header .nav ul.big-width-nav .apple-nav-item {
    opacity: 0;
  }
  input[type=checkbox]#push-bar-label:checked ~ #header .nav ul.big-width-nav .apple-nav-item {
    max-width: 584px;
    opacity: 1;
    height: 44px;
    border-bottom: 1px solid #424245;
    transition: .5s;
  }
  
  #header .nav ul.big-width-nav .apple-nav-item.nav-store a {
    background: url(../img/svg/833navlogo/store.svg) no-repeat;
    background-size: 41px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }
  #header .nav ul.big-width-nav .apple-nav-item.nav-mac a {
    background: url(../img/svg/833navlogo/mac.svg) no-repeat;
    background-size: 32px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }
  #header .nav ul.big-width-nav .apple-nav-item.nav-ipad a {
    background: url(../img/svg/833navlogo/ipad.svg) no-repeat;
    background-size: 32px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }
  #header .nav ul.big-width-nav .apple-nav-item.nav-iphone a {
    background: url(../img/svg/833navlogo/iphone.svg) no-repeat;
    background-size: 51px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }
  #header .nav ul.big-width-nav .apple-nav-item.nav-watch a {
    background: url(../img/svg/833navlogo/watch.svg) no-repeat;
    background-size: 48px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }

  #header .nav ul.big-width-nav .apple-nav-item.nav-airpods a {
    background: url(../img/svg/833navlogo/airpods.svg) no-repeat;
    background-size: 58px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }

  #header .nav ul.big-width-nav .apple-nav-item.nav-tvhome a {
    background: url(../img/svg/833navlogo/tvhome.svg) no-repeat;
    background-size: 58px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }

  #header .nav ul.big-width-nav .apple-nav-item.nav-onlyapple a {
    background: url(../img/svg/833navlogo/onlyapple.svg) no-repeat;
    background-size: 113px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }

  #header .nav ul.big-width-nav .apple-nav-item.nav-accessories a {
    background: url(../img/svg/833navlogo/accessories.svg) no-repeat;
    background-size: 55px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }

  #header .nav ul.big-width-nav .apple-nav-item.nav-support a {
    background: url(../img/svg/833navlogo/support.svg) no-repeat;
    background-size: 54px 43px;
    background-position: left center;
    display: block;
    width: auto;
  }


  /********************/

  footer#footer {
    overflow-y: hidden;
  }

  footer#footer .footer-wrap {
    padding-left: max(16px,env(safe-area-inset-left));
    padding-right: max(16px,env(safe-area-inset-right));
  }

  footer#footer .footer-wrap .footer-nav {
    display: flex;
    flex-direction: column;
  }

  footer#footer .footer-wrap .footer-nav .column .column-section{
    padding-top: 10px;
    position: relative;
    border-bottom: 1px solid #d2d2d7;
    cursor: pointer;
  }

  footer#footer .footer-wrap .footer-nav .column-section label h3 {
    font-size: 12px;
    font-weight: 400;
    color: #6e6e73;
  }

  footer#footer .footer-wrap .footer-nav .column-section label h3:after {
    content: '+';
    float: right;
    font-size: 14px;
    font-weight: normal;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }

  footer#footer .footer-wrap .footer-nav .column:not(:nth-child(2), :nth-child(4), :nth-child(5)) input[type=checkbox]:checked ~ .column-section label h3:after {
    transform: rotate(45deg) scale(1.08);
  }
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#service:checked ~ .column-section label[for=service] h3:after,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#account:checked ~ .column-section label[for=account] h3:after,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#business:checked ~ .column-section label[for=business] h3:after,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#education:checked ~ .column-section label[for=education] h3:after,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#mental:checked ~ .column-section label[for=mental] h3:after,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#information:checked ~ .column-section label[for=information] h3:after {
    transform: rotate(45deg) scale(1.08);
  }

  footer#footer .footer-wrap .footer-nav .column-section-list{
    margin: 0;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 16px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    visibility: hidden;
    z-index: -1;
    transform: translateY(-5px);
  }


  footer#footer .footer-wrap .footer-nav .column:not(:nth-child(2), :nth-child(4), :nth-child(5)) input[type=checkbox]:checked ~ .column-section label + .column-section-list{
    position: static;
    visibility: visible;
    z-index: 1;
    transform: none;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }

  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#service:checked ~ .column-section label[for=service] + .column-section-list,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#account:checked ~ .column-section label[for=account] + .column-section-list,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#business:checked ~ .column-section label[for=business] + .column-section-list,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#education:checked ~ .column-section label[for=education] + .column-section-list,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#mental:checked ~ .column-section label[for=mental] + .column-section-list,
  footer#footer .footer-wrap .footer-nav .column input[type=checkbox]#information:checked ~ .column-section label[for=information] + .column-section-list {
    position: static;
    visibility: visible;
    z-index: 1;
    transform: none;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  footer#footer .footer-wrap .footer-nav .column-section-list .column-section-item {
    text-indent: 1.5em;
  }

  footer#footer .footer-wrap .copyright .footer-shop {
    border-bottom: none;
  }

  footer#footer .copyright .footer-legal {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 734px) {
  :root {
    --content-height: 500px; 
    --promo-height: 500px;
    /* --promo-nav: 48px; */
  }
  main section.hero .hero-wrap .herotxt {
    top: -30px;
  }
  main section.hero .hero-wrap-content .hero-content .herotxt .herotitle {
    font-size: 32px;
  }

  main section.hero .hero-wrap-content .hero-content .herotxt .herosubtitle {
    font-size: 19px;
  }

  main section.hero .hero-wrap .herotxt .btn-group .btncommon {
    font-size: 17px;
  }

  main section.hero .hero-wrap .herotxt > span {
    font-size: 14px;
  }

  main section.hero .hero-wrap-content .hero-content .unit-image-iphone13 {
    background: url(../img/hero/iphone13/hero_iphone13pro_avail__iy77cld0zwii_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
  }


  main section.hero .hero-wrap-content .hero-content .unit-image-iphonese {
    background: url(../img/hero/iphone-se/hero_iphonese_avail__eg8srhcnpo66_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
  }

  main section.hero .hero-wrap .herotxt.iphonesetxt .herotitle {
    background: url(../img/logo/iphone-se/logo_hero_iphonese__dtb7zrygggeq_small.png) no-repeat;
    height: 32px;
    background-size: 126px 32px;
    width: 126px;
  }

  main section.hero .hero-wrap-content .hero-content .unit-image-ipad-air {
    background: url(../img/hero/ipad-air/hero_ipadair__flhdv47anjqu_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    background-size: 734px 548px;
  }

  main section.hero .hero-wrap .herotxt.ipad-air-txt .herotitle {
    background: url(../img/logo/ipad-air/hero_logo_ipadair__em8hublxa0om_small.png) no-repeat;
    height: 30px;
    width: 112px;
    background-size: 112px 30px;
  }

  main section.hero .hero-wrap .herotxt.ipad-air-txt {
    padding-top: 35px;
  }
  /* promo */
  main section.promo .promo-wrap {
    flex: 100%;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt {
    font-size: 32px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-wwdc-announce {
    background: url(../img/promo/wwdc-announce/promo_wwdc_announce__dr6w8rxice4i_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    width: 100%;
    background-position: center center;
    background-size: 734px 548px;
  }
  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-watch-series-7 {
    background: url(../img/promo/whatch-series-7/promo_watch_lte__djeaso7ukrsm_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    width: 100%;
    background-position: center center;
    background-size: 734px 548px;
    top: -48px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-iphone13 {
    background: url(../img/promo/iphne13/promo_iphone13_avail__frc36u35m0ii_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    width: 100%;
    background-position: center center;
    background-size: 734px 548px;
    top: -48px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-studio-display {
    background: url(../img/promo/studio-display/promo_studiodisplay__b449sh436cdy_small.jpg) no-repeat;
    width: 734px;
    height: 548px;
    top: -48px;
    width: 100%;
    background-position: center center;
    background-size: 734px 548px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-mac-studio {
    background: url(../img/promo/mac-studio/promo_macstudio__gl7zppziivma_small.jpg) no-repeat;
    width: 734px;
    top: -48px;
    height: 548px;
    width: 100%;
    background-position: center center;
    background-size: 734px 548px;
  }

  main section.promo .promo-wrap .promo-wrap-content .promo-content .heroimg .unit-image-tv-plus-multishow {
    background: url(../img/promo/tv-plus-multishow/tile_freeshows__e35b5brgkmi6_small.jpg) no-repeat;
    top: -48px;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-size: cover
  }
  main section.promo .promo-wrap .promo-wrap-content .promo-content .promotxt {
    margin-top: 0;
  }
}